body {
    font-family: Arial;
    padding: 20px;
    background-color: #292929;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    background: #f1f1f1;
    padding: 8px;
    border-radius: 6px;
}

div {
    margin: 5px;
}

summary {
    margin: 5px;
    list-style: none;
    display: none;
}

details{
    list-style: none;
    pointer-events: none;
}

.create-btn{
    background-color: #335067;
}

.card-bg{
    background-color: #335067;
    color: #f1f1f1;
}
.card-bg:hover{

}

.card-bg-alarm{
    background-color: #7D0B0B;
    color: #f1f1f1;
}

.settings-btn{
    background-color: transparent;
}

.submit-btn{
    background-color: #2B4A2B;
    color: #f1f1f1;
}
.submit-btn:hover{
    background-color: #2B4A2B;
}

.limit-label{
    font-family: Arial;
    font-weight: bold;
    color: #f1f1f1;
    margin-right: 10px;
}

table{
    width: 100%;
    table-layout: fixed;
}

.header-row{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    vertical-align: top;
}

.menuBarGrid{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    align-items: center;
}

.menuGrid{
    display: grid;
    grid-template-columns: auto;
}

.userCheckboxLabel{
    font-family: Arial;
    font-weight: bold;
    color: #f1f1f1;
    margin-bottom: 10px;
}